<footer>
  <div class="links">
    <div class="link-list">
      <div class="list">
        <ul>
          <p>Connect With Us...</p>
          <li><i class="fa fa-linkedin"></i><a href="#">Linkedin</a></li>
          <li><i class="fa fa-twitter"></i><a href="#">Twitter</a></li>
          <li><i class="fa fa-instagram"></i><a href="#">Instagram</a></li>
          <li><i class="fa fa-facebook-official"></i><a href="#">Facebook</a></li>
        </ul>
        <ul>
          <p>For More Help...</p>
          <li><a href="#">How to Replace Order</a></li>
          <li><a href="#">Where Redeem Warranty/Garranty...</a></li>
          <li><a href="#">Who to call in case of problem...</a></li>
          <li><a href="#">Our terms and conditions</a></li>
        </ul>
      </div>
      <div class="initials">
        <p>OASIS</p><p>Copyright© 2017</p>
      </div>
    </div>
    <div class="feedback">
      <p>Feedbacks...</p>
      <form action="" method="post">
        <textarea placeholder="Write Your Feedbacks Here..." name="feedback" rows="5" cols="51"></textarea>
        <input type="text" name="feed-email" placeholder="Type Your Email">
        <input type="submit" name="feed-send" value="send FEEDBACK">
      </form>
    </div>
  </div>
</footer>
